@using HRM.Common
@model HRM.ViewModels.Salary.SalaryHistoryViewModel
<div class="page-container">
    <div class="page-content">
        <div class="page-content">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <span class="caption-subject bold uppercase" style="color:#3fbd6c">SỬA THÔNG TIN</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm("Edit", "SalaryHistory", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label inputngaythang">
                                    <div class="input-icon">
                                        @Html.DropDownListFor(model => model.EmployeeId, (SelectList)ViewBag.Employees, new { @class = "select2 form-control " })
                                        <label for="form_control_1">Tên nhân viên</label>
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        @*<i class="fa fa-bell-o"></i>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label inputngaythang">
                                    <div class="input-icon">
                                        @Html.DropDownListFor(model => model.CurrentContractTypeId, (SelectList)ViewBag.ContractTypes, new { @class = "select2 form-control " })
                                        <label for="form_control_1">Hợp đông mới</label>
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        @*<i class="fa fa-bell-o"></i>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label inputngaythang">
                                    <div class="input-icon">
                                        @Html.DropDownListFor(model => model.WorkTitleDetailId,
                                       (SelectList)ViewBag.Worktitledetails, new { @class = "select2 form-control ", @onchange = "FillWorkTitleDetail()" })
                                        <label for="form_control_1">Chức danh</label>
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        @*<i class="fa fa-bell-o"></i>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label inputngaythang">
                                    <div class="input-icon">
                                        @Html.DropDownListFor(model => model.SalaryLevelId,
                                       (SelectList)ViewBag.Salarylevels, new { @class = "select2 form-control " })
                                        <label for="form_control_1">Bậc lương mới</label>
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        @*<i class="fa fa-bell-o"></i>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label inputngaythang">
                                    <div class="input-icon">
                                        @Html.DropDownListFor(model => model.DepartmentId, (SelectList)ViewBag.Departments, new { @class = "select2 form-control " })
                                        <label for="form_control_1">Phòng ban</label>
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        @*<i class="fa fa-bell-o"></i>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label">
                                    <div class="input-icon" style="margin-top:-23px">
                                        <label for="form_control_1">Từ ngày</label>
                                        @Html.TextBoxFor(m => m.From, new { @type = "date", @class = "form-control" })
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        <i class="fa fa-bell-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label">
                                    <div class="input-icon" style="margin-top:-23px">
                                        <label for="form_control_1">Đến ngày</label>
                                        @Html.TextBoxFor(m => m.To, new { @type = "date", @class = "form-control" })
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        <i class="fa fa-bell-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label">
                                    <div class="input-icon">
                                        @*@Html.EditorFor(model => model.MonthlyBonus, new { htmlAttributes = new { @class = "form-control money" } })*@
                                        @Html.EditorFor(model => model.MonthlyBonus, new { htmlAttributes = new { @class = "form-control money" } })
                                        <label for="form_control_1">Tiền lương tăng</label>
                                        @*<span class="help-block">Nhập tại đây...</span>*@
                                        <i class="fa fa-bell-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success form-md-floating-label">
                                    <div class="input-icon">
                                        @Html.TextBoxFor(model => model.Document, new { @class = "form-control", type = "file" })
                                        @*<span class="help-block">Some help goes here...</span>*@
                                        <i class="fa fa-bell-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="form-actions noborder">
                            <button type="submit" class="btn green-meadow">Lưu lại</button>
                            <button type="button" class="btn default">@Html.ActionLink("Hủy", "Index")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        function FillWorkTitleDetail() {
            var workTitleDetailId = $('#WorkTitleDetailId').val();
            var url = '/SalaryHistory/GetSalaryLevelsBytWorkTitleDetailsId?workTitleDetailsId=' + workTitleDetailId;
            $.ajax({
                url: url,
                type: "GET",
                success: function (results) {
                    console.log(results)
                    $("#SalaryLevelId").select2('destroy');
                    $("#SalaryLevelId option").remove();

                    $('#SalaryLevelId').select2({
                        data: results
                    });
                }
            });
        }
    </script>

    @if (Model.From.HasValue)
    {
        <script type="text/javascript">
    $(document).ready(function () {
        setDate("From", @Model.From.Value.ToJavaScriptMilliseconds());
            });
        </script>
    }

    @if (Model.To.HasValue)
    {
        <script type="text/javascript">
    $(document).ready(function () {
        setDate("To", @Model.To.Value.ToJavaScriptMilliseconds());
            });
        </script>
    }
}
