@model HRM.ViewModels.Contract.ContractViewModel

<div class="page-container">
    <div class="page-content">
        <div class="page-content">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <span class="caption-subject bold uppercase" style="color:#3fbd6c">NHẬP THÔNG TIN</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm("Create", "Contract", FormMethod.Post, new { enctype = "multipart/form-data" }))
                   
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input has-success form-md-floating-label inputngaythang">
                                        <div class="input-icon">
                                            @Html.DropDownListFor(model => model.EmployeeId, (SelectList)ViewBag.Employees, new { @class = "select2 form-control " })
                                            <label for="form_control_1">Tên nhân viên</label>
                                            @*<span class="help-block">Some help goes here...</span>*@
                                            @*<i class="fa fa-bell-o"></i>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input has-success form-md-floating-label inputngaythang">
                                        <div class="input-icon">
                                            @Html.DropDownListFor(model => model.CurrentContractTypeId, (SelectList)ViewBag.ContractTypes, new { @class = "select2 form-control " })
                                            <label for="form_control_1">Hợp đông mới</label>
                                            @*<span class="help-block">Some help goes here...</span>*@
                                            @*<i class="fa fa-bell-o"></i>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input has-success form-md-floating-label ngaythang">
                                        <div class="input-icon">
                                            <label for="form_control_1">Từ ngày</label>
                                            <span>
                                                <input class="inputngaythang" id="From" name="From" type="date" value="">
                                            </span>
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input has-success form-md-floating-label ngaythang">
                                        <div class="input-icon">
                                            <label for="form_control_1">Đến ngày</label>
                                            <span>
                                                <input class="inputngaythang" id="To" name="To" type="date" value="">
                                            </span>
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                        <div class="input-icon">
                                            @Html.EditorFor(model => model.ContractNo, new { htmlAttributes = new { @class = "form-control" } })
                                            <label for="form_control_1">Số hợp đồng</label>
                                            @*<span class="help-block">Nhập tại đây...</span>*@
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                        <div class="input-icon">
                                            @Html.TextBoxFor(model => model.Document, new { @class = "form-control", type = "file" })
                                            @*<span class="help-block">Some help goes here...</span>*@
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                @*<div class="col-md-3">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.DisplayContractTypeId, (SelectList)ViewBag.ContractTypes, new { @class = "form-control" })
                            @Html.LabelFor(model => model.DisplayContractTypeId)
                        </div>
                    </div>*@
                            </div>
                        </div>
                        <div class="form-actions noborder">
                            <button type="submit" class="btn green-meadow">Lưu lại</button>
                            <button type="button" class="btn default">@Html.ActionLink("Hủy", "Index")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>