@model HRM.ViewModels.Company.CompanyChangeHistoryViewModel

<div>
    <h4>CompanyChangeHistoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VietNamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VietNamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstRegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstRegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharterCapital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharterCapital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountIssuePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountIssuePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
